
<div class="container mx-auto">
  <h1 class="row">Escolha o tipo de boleto que deseja validar:</h1>
  <div class="row mx-auto">
    <a href="/bancarios" class="btn btn-primary btn-lg active m-2" role="button" aria-pressed="true">Títulos bancários</a>
    <a href="/concessionarias" class="btn btn-primary btn-lg active m-2" role="button" aria-pressed="true">Pagamentos de concessionárias</a>
  </div>
</div>
